# Игнорировать файлы конфигурации PHPStorm
.idea/

# Игнорировать директорию с зависимостями Composer
vendor/

# Игнорировать файлы, созданные во время установки зависимостей Composer
composer.lock

# Игнорировать директорию с сессиями PHP
sessions/

# Игнорировать логи ошибок PHP
error_log
log/
*.log

# Игнорировать временные файлы
*.swp
.DS_Store

# Игнорировать файлы конфигурации
config.php
